.rate-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}
.stars-container{
    height: 50px;
    width: 140px;
}
.stars-container > span {
    filter: grayscale(0) drop-shadow( 5px 10px 1px rgba(27, 29, 29, 0.5));
}

.rate-container :nth-child(2) :hover {
    filter: grayscale(0) drop-shadow(2px 4px 1px #1b1d1dcc);
}

.rate-text {
    margin-right: 10px;
}
