.discover-comp {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    justify-content: center;
}

.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title-container > h3 :nth-child(1) {
    margin-right: 5px;
}

.title-container > h5 :nth-child(1) {
    margin-left: 5px;
}

.rated-movies-container {
    display: none;
}

