.poster {
    display: flex;
    background-color: rgb(95, 95, 95);;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    width: 250px;
    margin: 8px;
    animation: fade-in  1s ease-in;
}

.poster-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 380px;
    width: 250px;
}

.poster-data:hover {
    cursor: pointer;
    background-color: rgb(241, 241, 241, 0.8);
    box-shadow: 10px 10px 1px rgba(27, 29, 29, 0.8);
}

.poster-data:hover > p {
    display: flex;
    padding: 5px;
}

.poster-data > p {
    display: none;
    font-size: 20px;
    font-weight: bold;
    color: rgba(27, 29, 29, 0.8);
}

@keyframes fade-in {
    from {
        opacity: 0;
        transition: opacity ;
    }
    to {
        opacity: 1;
        transition: opacity ;
    }
}
